*{

}

h1{
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
    text-transform: uppercase;
}

.employee{
    width: 150px;
    margin-bottom: small;
    float: left;
}
.icon{
    height: 190px;
    width: 150px;
    opacity: 5%;
}

.details{
    position: relative;
}

.fixTableHead { 
    overflow-y: auto; 
} 

.fixTableHead thead th { 
    position:absolute; 
}

table { 
    border-collapse: collapse;         
}

th, 
td { 
    padding: 8px 10px; 
    border: none; 
}

th { 
    background: #c3d6e8; 
    width: 100px;
} 