*{

}

h1{
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
    text-transform: uppercase;
}

.employee{
    width: 150px;
    margin-bottom: small;
    float: left;
}

.details{
    position: relative;
}

.fixTableHead { 
    overflow-y: auto; 
  } 
  .fixTableHead thead th { 
    position:absolute; 
    top: 0; 
  } 
  table { 
    border-collapse: collapse;         
    width: 100%; 
  } 
  th, 
  td { 
    padding: 8px 15px; 
    border: 1px solid #939393; 
  } 
  th { 
    background: #c3d6e8; 
  } 